<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/define_rule.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/define_rule.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <script src="js/define_rule.js" type="text/javascript"></script>
    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1 th:align="middle" th:text="${type.getName()}"></h1>

<form action="#" th:object="${rule}" th:action="@{/rules/add}" method="post">
    <div>
        <div class="why">
            <div>
                <label for="name">Name:</label><br>
                <input type="text"
                       id="name"
                       th:field="*{properties['name']}">
            </div>

            <div>
                <label>Type:</label><br>
                <select th:field="*{properties['type']}"
                        th:remove="all-but-first"
                        name="template" disabled>
                    <option th:value="${ruleType.getBusinessRuleType().getCode()}"
                            th:text="${ruleType.getBusinessRuleType().getName()}"></option>
                </select>
            </div>

            <div>
                <label>table:</label><br>
                <select th:field="*{properties['table']}"
                        th:remove="all-but-first"
                        name="template" disabled>
                    <option th:value="${ruleType.getTable().getId()}"
                            th:text="${ruleType.getTable().getName()}"></option>
                </select>
            </div>

            <div th:each="attribute : ${typeAttributes}">
                <div th:switch="${attribute.getValue()}">

                    <div th:case="'column'">
                        <label>Column:</label><br>
                        <select th:field="*{properties['__${attribute.key}__']}"
                                th:remove="all-but-first"
                                name="template">
                            <option th:each="column : ${columns}"
                                    th:value="${column.getId()}"
                                    th:text="${column.getName()}"></option>
                        </select>
                    </div>

                    <div th:case="'int'">
                        <label th:text="${attribute.getKey()}"></label>
                        <input th:field="*{properties['__${attribute.key}__']}" type="number" required>
                    </div>

                    <div th:case="'operator'">
                        <label th:text="${attribute.getKey()}"></label>
                        <select th:field="*{properties['__${attribute.key}__']}"
                                name="operator"
                                required>
                            <option th:each="operator : ${type.getAvailableOperators()}"
                                    th:value="${operator.getId()}"
                                    th:text="${operator}"></option>
                        </select>
                    </div>

                    <div th:case="'lov'">
                        <label th:text="${attribute.getKey()}"></label>
                        <input id="vars" th:field="*{properties['__${attribute.key}__']}" type="text" required>
                        <div id="newInputDiv"></div>
                        <input class="button-primary" value="add" type="button" onclick="addInput()">
                    </div>

                    <div th:case="'statement'">
                        <label th:text="${attribute.getKey()}"></label>
                        <input th:field="*{properties['__${attribute.key}__']}" type="text">
                        <li>
                    </div>
                </div>
            </div>

            <label for="error">error:</label>
            <input id="error" type="text" th:field="*{properties['error']}" required>


            <button class="button-primary" type="submit">Save</button>
        </div>
    </div>
</form>
</body>
</html>