<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete rule succeed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->

</head>
<body>

<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->

<h3 th:align="center">The following business rule has been removed: </h3>
<h3 th:align="center" th:text="${rule.getId()}"></h3>
<h3 th:align="center" th:text="${rule.getName()}"></h3>
<h3 th:align="center" th:text="${rule.getDescription()}"></h3>
<input th:align="center" field="Back" type="button" class="button-primary" th:href="@{/rules}">

</body>
</html>