<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Business rule list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1 align="middle">Generate business rules</h1>
<form th:align="middle" th:action="@{/rules/generate}" method="post" th:object="${selectedRules}">
<table align="middle">
    <tr>
        <td>ID</td>
        <td>Type</td>
        <td>Name</td>
        <td>Generate</td>
    </tr>
    <tr th:each="rule: ${businessRules}">
        <td th:text="${rule.businessRuleType.name}"/>
        <td th:text="${rule.name}"/>
        <td th:text="${rule.errorMessage}">
        <td><input class="button" type="checkbox" th:field="*{ruleIds}" th:value="${rule.id}"><br>
        </td>
    </tr>
</table>
    <button class="button" name="action" value="generate">Generate</button>
    <button class="button" name="action" value="test">Test Generate</button>
</form>
</body>
</html>