<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Business rule list</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" th:href="@{/css/style.css}">

    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1 align="middle">All business rules</h1>
<p th:text="${database.database.name}"></p>

<form align="middle" action="#" th:action="@{/rule/search/{value} (value=${value})}" method="get">
    <input type="text" id="value" th:value="${value}" name="value"/>
    <input type="submit" value="Search"/>

</form>
<table align="middle">
    <tr>
        <td>ID</td>
        <td>Type</td>
        <td>Name</td>
        <td>Description</td>
        <td>Change</td>
        <td>Delete</td>
    </tr>
    <tr th:each="rule: ${rules}">
        <td th:text="${rule.id}"/>
        <td th:text="${rule.businessRuleType.name}"/>
        <td th:text="${rule.name}">
        <td th:text="${rule.description}">
        <td><a class="button" th:href="@{/rules/{id}/edit(id=${rule.id})}">Manage</a></td>
        <td><a class="button" th:href="@{/rules/{id}/delete(id=${rule.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>