table {
    color: #333; /* Lighten up font color */
    font-family: 'Roboto',Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse:
            collapse; border-spacing: 0;
    margin-left:auto;
    margin-right:auto;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
body{
    font-family: 'Roboto', serif;
}

.button-primary {
    display: inline-block;
    border-radius: 4px;
    background-color: #F4511E;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "Roboto Medium", "Roboto", serif;
    text-decoration: none;
}

.button-primary:hover {
    background-color: #E54C1C;
}

.button-secondary {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #F4511E;
    color: #F4511E;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 98px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "Roboto Medium", "Roboto", serif;
    text-decoration: none;
}

.button-secondary:hover {
    background-color: #F4511E;
    color: #FFFFFF;
}

.id-column {
    width: 30px;
}

#newdbform{
    width: 300px;
    margin: auto;
}

.newDbInput {
    float: right;
}

.hidden {
    display: none;
    visibility: hidden;
}

#backButton{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}