<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" th:href="@{/css/ruleList_style.css}" >
    <script th:src="@{/js/define_rule.js}"></script>
    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1 align="middle">Define a Rule</h1>

<h3 th:align="middle">Choose a type</h3>
<form th:align="middle" action="#" th:action="@{/addType}" th:object="${chosenRule}" method="post">
    <select th:field="*{businessRuleTypeCode}"
            th:remove="all-but-first"
            name="template">
        <option th:each="template : ${templates}"
                th:value="${template.getBusinessRuleType().getCode()}"
                th:text="${template.getBusinessRuleType().getName()}"></option>
    </select>
    <button th:align="middle" class="button" type="submit">Next</button>
</form>

</body>
</html>