
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/header.css" th:href="@{/css/header.css}" >
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" th:href="@{/css/normalize.css}" >
</head>
<body>
<div class="topnav">
    <li class="navli"><a class="nava" href="add.html" th:href="@{/add}">Define a Business Rule</a></li>
    <li class="navli"><a class="nava" href="ruleList.html" th:href="@{/ruleList}">All Business Rules</a></li>
    <li class="navli"><a class="nava" href="add.html" th:href="@{/add}">Generate Business Rules</a></li>
</div>
</body>
</html>