<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="topnav">
    <li><a href="add.html" th:href="@{/add}">Define Business Rules</a></li>
    <!--<li><a href="list.html" th:href="@{/order/list}">All Business Rules</a></li>-->
    <!--<li><a href="subscribe.html" th:href="@{/subscribe}">Generate Business Rules</a></li>-->
</div>
</body>
</html>