<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Business rule list</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" th:href="@{/css/style.css}">

    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1 align="middle">All business rules</h1>
<p th:text="${chosenDatabase}"></p>
    <table align="middle">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Error message</td>
            <td>Information</td>
            <td>Change</td>
            <td>Delete</td>
        </tr>
        <tr th:each="br: ${businessRules}">
            <td th:text="${br.getId()}"/>
            <td th:text="${br.getName()}"/>
            <td th:text="${br.getErrorMessage()}">
            <td th:text="${br.getDescription()}">
            <td ><a class="button" th:href="@{/manage_Businessrule}">Manage</a></td>
            <td> <button class="button">Remove</button></td>
        </tr>
    </table>
</body>
</html>