<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Business rule list</title>
    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1>Overview of all business rules:</h1>
<form  th:action="@{/add}">
    <table>
        <tr th:each="br: ${businessRules}">
            <td th:text="${br.getId()}"/>
            <td th:text="${br.getName()}"/>
        </tr>
    </table>
    <input type="submit" value="Add a business rule">
</form>
</body>
</html>