<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Je moeder</title>
    <script>
        function addToList(){
            var text = document.getElementById("vars").field,
                listNode = document.getElementById("list"),
                liNode = document.createElement("LI"),
                txtNode = document.createTextNode(text);


           liNode.appendChild(txtNode);
           listNode.appendChild(liNode);
           console.log(listNode);
        }
    </script>
</head>
<body>
<input id="vars" type="text">

<ul id="list">
</ul>

<input field="Ok" id="var" type="button" onclick="addToList()">
<p>"input1", "input2", "input3"</p>
</body>
</html>