<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
    <div id="newdbform">
        <h1>Add new database</h1>
        <form action="#" th:action="@{/database/create}" method="post" th:object="${newDatabase}">
            <label>Choose dialect:</label>
            <select class="newDbInput" th:remove="all-but-first"
                    th:field="*{dialectId}"
                    name="di">
                <option th:each="di : ${dialects}"
                        th:vaue="${di.getId()}"
                        th:text="${di.getName()}"></option>
            </select><br><br>
            <label>Name:</label><input class="newDbInput" type="text" th:field="*{name}"><br><br>
            <label>URL:</label><input class="newDbInput" type="text" th:field="*{jdbcUrl}"><br><br>
            <label>Username:</label><input class="newDbInput" type="text" th:field="*{username}"><br><br>
            <label>Password:</label><input class="newDbInput" type="password" th:field="*{password}"><br><br>
            <button class="button-primary" type="submit">Save</button>
        </form>
        <button onclick="window.location.href='/database'" class="button-primary" type="submit">Back</button>
    </div>
</body>
</html>