<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BuRuG</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->

<h1 th:align="middle">Choose a database</h1>
<div th:if="${error}" th:align="middle">
    <h2 th:text="${error}"></h2>
</div>

<form action="#" th:action="@{/database}" method="post" th:object="${chosenDatabase}" th:align="middle">
    <label>Database<br>
        <select th:remove="all-but-first"
                th:field="*{databaseId}"
                name="db">
            <option th:each="db : ${databases}"
                    th:value="${db.getId()}"
                    th:text="${db.getName()}"></option>
        </select>
    </label><br>
    <button class="button-primary" type="submit">Select</button>
</form>
<div th:align="middle"><button onclick="location.href='/database/create'" class="button-secondary">Create</button></div>


</body>
</html>