<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr th:each="br: ${businessRules}">
        <td th:text="${br.getId()}"/>
        <td th:text="${br.getName()}"/>
    </tr>
</table>
<h1>Define an Attribute Range Rule:</h1>
<form action="#" th:action="@{/addRule}" th:object="${businessRule}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Number: <input type="text" th:field="*{rangeStart}"/></p>
    <p>Operator:<select th:field="*{operator}">
        <option th:each="state : ${businessRule.getPossibleOperators()}"
                th:value="${state}"
                th:text="${state}">
        </option>
    </select></p>
    <p>Number: <input type="text" th:field="*{rangeEnd}"/></p>
    <input type="submit">
</form>
</body>
</html>