<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <script th:src="@{/js/define_rule.js}"></script>
    <!--/*/ <th:block th:include="headertemplate :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="headertemplate :: header"></th:block> /*/-->
<h1 align="middle">Define a Rule</h1>

<h3 th:align="middle">Choose a type</h3>
<form th:align="middle" action="#" th:action="@{/rules/type}" th:object="${newRuleType}" method="post">
    <select th:field="*{typeCode}"
            th:remove="all-but-first"
            name="template">
        <option th:each="template : ${templates}"
                th:field="${template.getBusinessRuleType().getCode()}"
                th:text="${template.getBusinessRuleType().getName()}"></option>
    </select>

    <div>
        <label>table:</label><br>
        <select th:field="*{tableId}"
                th:remove="all-but-first"
                name="template">
            <option th:each="table : ${tables}"
                    th:field="${table.getId()}"
                    th:text="${table.getName()}"></option>
        </select>
    </div>

    <button th:align="middle" class="button-primary" type="submit">Next</button>
</form>
</div>
</body>
</html>